* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 ;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  margin: 0 auto;
} */

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;

  @media all and (max-width: 1366px) {
    padding: 0 40px;
  }

  @media all and (max-width: 576px) {
    padding: 0 15px;
  }
}


a {
  color: inherit;
  text-decoration: none;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn-pomidoro {
  padding: 19px 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  border: 1px solid var(--red-color);
}

:root {
  --red-color: #DC3E22;
  --marker-color: #B7280F;
  --color-white: #ffffff;
  --color-text: #333;
  --gray-color: #F4F4F4;
  --green-color: #A8B64F;
  --green-hover: #899441;
  --placeholder: #999;
  --border: #E4E4E4;
  --border-circle: #C4C4C4;
  --pause-task-color: #ffff8b;
  --ec-color: #ececec;
}
